.weare-container {
  padding: 50px;
  background-color: #323232;
  text-align: center;
  border-radius: 0%;
}

.weare-intro h2 {
  color: #ff542e;
  font-size: 28px;
  margin-bottom: 10px;
}

.weare-intro p {
  max-width: 800px;
  margin: 0 auto 20px;
  font-size: 16px;
  color: #ffffff;
}

.weare-highlights {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 0px;
  color: white;
}

.highlight-border {
  border: 2px solid #ff542e;
  padding: 12px 9px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.icon {
  color: #ff542e;
  font-size: 30px;
}

@media (max-width: 768px) {
  .weare-highlights {
    flex-direction: column;
    gap: 15px;
  }

  .highlight-border {
    width: 100%;
    text-align: center;
  }
}
