.AzuraPartner-section {
  background-color: rgb(35 33 33 / 98%);
  padding: 40px 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.AzuraPartner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

.AzuraPartner-box {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 1px;
  text-align: left;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AzuraPartner-images {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.AzuraPartner-images img {
  width: 48%;
  height: auto;
  border-radius: 1px;
}

.AzuraPartner-text {
  text-align: left;
  padding: 20px;
}

.AzuraPartner-text h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: black;
}

.AzuraPartner-highlight {
  color: #ff542e;
}

.ViewAllPartners {
  text-align: center;
  margin-top: 20px;
}

.ViewAllPartners a {
  text-decoration: none;
  color: #ff542e;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #ff542e;
  padding-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

.ViewAllPartners a:hover {
  color: #ff542e;
  border-bottom: 2px solid #ff542e;
}
