.incident3-section3 {
  background-color: #1a1a1a;
  color: #ddd;
  padding: 50px 20px;
  text-align: center;
}

.incident3-container {
  max-width: 900px;
  margin: 0 auto;
}

.incident3-section-title {
  font-size: 24px;
  margin: 20px 0;
  font-weight: bold;
}

.orange {
  color: #ff542e;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
}

@media (max-width: 768px) {
  .incident3-section3 {
    padding: 30px 15px;
  }

  .incident3-section-title {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }
}
