.Security-features {
  background-color: #1e1e1e;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.breadcrumb {
  font-size: 14px;
  color: #ff542e;
  margin-bottom: 10px;
}
.Security-highlight {
  color: #ff542e;
}
h3.Security-title {
  font-size: 24px;
  font-weight: bold;
  color: #ff542e;
}

.Security-icon img {
  width: 50px;
  margin: 10px 0;
}

.Security-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.Security-box {
  background: white;
  color: black;
  padding: 20px;
  border: 2px solid #ff542e;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.Security-box:hover {
  background: #ff542e;
  color: white;
}

@media (max-width: 900px) {
  .Security-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .Security-container {
    grid-template-columns: 1fr;
  }
}
