.specialists-section {
  text-align: center;
  background: #1e1e1e;
  padding: 60px 20px;
}

.specialists-title {
  font-size: 28px;
  font-weight: bold;
  color: #ff542e;
  margin-bottom: 40px;
}

.specialists-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.specialist-card {
  background: #222;
  display: flex;
  padding: 0px 0px 29px 0px;
  gap: 30px;
  text-align: center;
  width: 300px;
  position: relative;
  box-shadow: 0px 4px 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%, 0 100%);
  transition: transform 0.3s ease;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-bottom: 50px;
}

.specialist-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.specialist-info {
  margin-top: -29px;
  color: white;
  padding: 10px 32px -23px;
  position: relative;
  margin-bottom: 29px;
}

.specialist-name {
  font-size: 16px;
  font-weight: bold;
}

.specialist-description {
  font-size: 12px;
  margin-top: 8px;
}

.arrow-button {
  position: absolute;
  bottom: -15px;
  left: 15%;
  transform: translateX(-50%);
  background: ff542e;
  color: white;
  font-size: 16px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.meet-team {
  display: block;
  margin-top: 40px;
  color: #ff542e;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
}
